.navbar{
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: aqua;
}

.navbar div{
  display: flex;
  align-items: center;
  gap: 20px;

}
.box {
  width: 250px;
  height: 300px;
  border: 2px solid black;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.home{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 20px;
}
